WhiteBoard/src/conf/xml-resources/web-service-references/DAO/wsdl/localhost_8080/Whiteboard_Webservice/DAO.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://DAO.model/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://DAO.model/">

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:alumnos" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alumnos">
<xs:sequence>
<xs:element name="actividadAlumnos" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="asignaturases" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="foto" type="xs:string" minOccurs="0"/>
<xs:element name="idUsuario" type="xs:int" minOccurs="0"/>
<xs:element name="mensajesesForDestinatarioId" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="mensajesesForRemitenteId" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="profesores" type="tns:profesores" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="profesores">
<xs:sequence>
<xs:element name="actividadeses" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="alumnos" type="tns:alumnos" minOccurs="0"/>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="asignaturases" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="foto" type="xs:string" minOccurs="0"/>
<xs:element name="horaTutoria" type="xs:string" minOccurs="0"/>
<xs:element name="idUsuario" type="xs:int"/>
<xs:element name="mensajesesForDestinatarioId" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="mensajesesForRemitenteId" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>